<section id="cases" class="section section-business">
    <div class="container">
        <p class="sub-text sub-text-business">This is what we do</p>
        <h2 class="title">Business Cases</h2>
        <p class="text-descripton">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
        <ul class="business-cases-list">
            <li> <img src="./img/case-1.jpg" alt="Case 1" width="421px"></li>
            <li> <img src="./img/case-2.jpg" alt="Case 2" width="421px"></li>
            <li> <img src="./img/case-3.jpg" alt="Case 3" width="421px"></li>
            <li> <img src="./img/case-4.jpg" alt="Case 4" width="421px"></li>
            <li> <img src="./img/case-5.jpg" alt="Case 5" width="421px"></li>
            <li> <img src="./img/case-6.jpg" alt="Case 6" width="421px"></li>
        </ul>
    </div>
</section>