<header class="header">
  <div class="container header-container">
    <a class="logo" href=""> <svg width="39px" height="31px">
        <use href="./img/svg/symbol-defs.svg#icon-logo"></use>
      </svg> <span class="accent-logo">Finance</span> Ledger</a>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a href="./index.html">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#cases">Cases</a></li>
        <li class="nav-item"><a href="#blog">Blog</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>