<section class="section solutions-section">
    <div class="container-walpper solutions-container">
        <h2 class="visually-hidden">Solutions</h2> <!--hidden-->
        <img src="./img/about-team.jpg" alt="Team" width="670px">
        <div class="sultions-info-container">
            <p class="sub-text">What you are looking for</p>
            <h3 class="title title-solutions ">We provide bespoke solutions</h3>
            <p class="text-descripton">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
                dignissimos quae laudantium
                asperiores
                nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
                maiores
                deleniti?
            </p>
            <a class="button-link" href="">Read More</a>
        </div>
    </div>
</section>